html, body, main{
    height: 100%;
    margin: 0;
    padding: 0;
}

nav{
    padding: 0 !important;
    display: flex;
    flex-wrap: nowrap !important;
}

.barra{
    background-color:rgba(6, 26, 56, 0.781);
}
.barra img{
    margin-left: 5%;
    width: 100px;
}

.imagenes_barra{
    display: flex;
    flex-wrap: nowrap;
    margin-right: 10%;
}

.imagenes_barra img{
    width: 30px;
    margin-left: 20%;
}

.titulo{
    display: flex;
    align-items:end;
    color:rgba(6, 26, 56, 0.781);
    margin-bottom: 2%;
}

.boton button{
    display: flex;
    gap: 10%;
    border-radius: 15px !important;

}

.main{
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    margin-left: 20%;
}


.boton{
    margin-bottom: 2%;
    gap: 5%;
}

.boton img{
    width: 20px;
}

.hoteles{
    max-height: 300px;
}

