{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="conocenos">
        <h1>Conoce A El Tito</h1>
        <div class="class-grid1">
            <div class="animation1">
                <p style="margin-top: 10%">Todo empezó una noche de verano, entre risas, cervezas y un reto absurdo: ¿y si abrimos un bar donde absolutamente todo pique? Tito, un sevillano fanático del chile habanero y enemigo jurado del ketchup, soltó la idea como una broma. Su primo Rafa, chef frustrado y alma creativa, se prendió como una llama. En menos de una hora, ya tenían nombre, logo (un ají con gafas de sol) y hasta un lema: "Si no lloras, no pagas". Lo que empezó como un chiste de borrachos, terminó en un plan con garabatos de menús y un local en Triana que olía a guindilla desde la puerta.</p>
            </div>
            <div class="espinas">
                <img src="{% static 'resources/espinas_separadoras.png' %}">
            </div>
            <div class="foto">
                <img style="margin-top: 5%" src="{% static 'resources/la-hacienda-princesa-restaurante-mexicano-2-1030x579.jpg' %}">
            </div>
        </div>
        <div class="class-grid2">
            <div class="foto">
                <img style="margin-top: 5%" src="{% static 'resources/alitas2-img.png' %}">
            </div>
            <div class="espinas">
                <img src="{% static 'resources/espinas_separadoras_reves.png' %}">
            </div>   
             <div class="animation2">
                 <p style="margin-top: 5%">El primer mes fue un desastre delicioso. La clientela entraba con curiosidad y salía con la cara roja, sudando como si hubieran corrido una maratón en agosto. Pero el boca a boca fue explosivo, literalmente: Tito Picantito se volvió viral en redes por su “Reto Carolina Reaper”, un plato tan picante que firmabas una renuncia de responsabilidad antes de probarlo. La gente no solo iba a comer, iba a demostrar que podía con el fuego. Influencers, turistas valientes y locales masoquistas llenaban las mesas noche tras noche, buscando esa combinación entre sufrimiento y sabor que solo Tito y Rafa sabían ofrecer.</p>
             </div>
        </div>
        <div class="class-grid1">
            <div class="animation1">
                <p style="margin-top: 5%">Detrás del show había una filosofía seria: cada plato era una oda a la cocina picante de todo el mundo. Desde tacos mexicanos con salsa de chile de árbol hasta ramen coreano con gochujang casero, Tito Picantito no era solo una trampa para valientes, era un viaje internacional de picor. Rafa se encargó de estudiar técnicas, fermentar sus propias salsas, e incluso cultivaba pimientos en una azotea. El picante dejó de ser un simple reto para convertirse en una experiencia gastronómica completa, donde el calor no tapaba el sabor, sino que lo potenciaba.</p>
            </div>
            <div class="espinas">
                <img src="{% static 'resources/espinas_separadoras.png' %}">
            </div>
            <div class="foto">
                <img style="margin-top: 5%" src="{% static 'resources/pngtree-mexican-foods-served-on-a-black-wooden-table-picture-image_3518855.jpg' %}">
            </div>
        </div>
        <div class="class-grid2">
            <div class="foto">
                <img style="margin-top: 5%" src="{% static 'resources/alitas2-img.png' %}">
            </div>
            <div class="espinas">
                <img src="{% static 'resources/espinas_separadoras_reves.png' %}">
            </div>   
             <div class="animation2">
                 <p style="margin-top: 5%">Hoy, Tito Picantito es un referente en Sevilla. Ha salido en Netflix, tiene su propia línea de salsas artesanales y organiza un festival anual llamado FuegoFest. Pero Tito aún atiende la barra como el primer día, con una camiseta que dice: "No es picante, tú eres flojo". Lo que empezó como una locura se volvió un fenómeno, demostrando que a veces las mejores ideas nacen entre risas… y con una buena dosis de ají.</p>
             </div>
        </div>
    </div>
{% endblock %}
